.App {
  /* text-align: center; */
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}
thead[class*="ant-table-thead"] th {
  color: #52689e !important;
  font-weight: 700 !important;
  background-color: white !important;
}
.ant-table-tbody > tr.ant-table-row:hover > td {
  background-color: unset !important;
}
td.ant-table-column-sort {
  background: unset !important;
}

@media (max-width: 900px) {
  .App {
    width: 90%;
  }
}
@media (min-width: 1500px) {
  .App {
    max-width: 1400px;
  }
}
